h1 {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: lightgreen;
}